.hamburger{
    display: none;
    cursor: pointer;
}




 .menucontent {
    width: 40%;
    z-index: 7;
    height: 40rem;
    background-color: #020B2D;
    border-bottom-left-radius: 14px;
    transition: 2s ease-in-out ;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .close{
    position: relative;
    z-index: 8;
    color: white;
    top: 0.5rem;
    right: 33%;
    font-size: 2rem;
    cursor: pointer;
 }

 .list{
    z-index: 8;
    position: absolute;
    top: 0rem;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-top: 80px;
    li{
        cursor: pointer;
    }
 }

@media only screen and (max-width:790px){
    .logsignbtn {
        display: none;
    }
    .hamburger{
        display: block;
        color: white;
        margin-right: 30px;
        font-size: 2rem;
    }
    .function{
        display: none;
    }
   
        
    
}