@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
}


body,
html,
#root {
  margin: 0;
  padding: 0;
}

/* Media query for phones */
@media (min-width: 320px) {

  /* Adjust font size and other styles for phones */
  body {
    font-size: 17px;
  }
}

/* Media query for tablets */
@media (min-width: 768px) {

  /* Adjust font size and other styles for tablets */
  body {
    font-size: 18px;
  }
}

/* Media query for laptops and desktops */
@media (min-width: 1200px) {

  /* Adjust font size and other styles for laptops/desktops */
  body {
    font-size: 19px;
  }
}